@import url(reset.css);
@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@600;800&display=swap");

:root {
  font-size: 62.5%;
  --clr-yellow-bg-highlight: hsl(47, 88%, 63%);
  --clr-white-bg-card: hsl(0, 0%, 100%);
  --clr-grey-font: hsl(0, 0%, 50%);
  --clr-black-font-border: hsl(0, 0%, 7%);
}

body {
  font-size: 1.6rem;
  font-family: "Figtree", sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-yellow-bg-highlight);
  gap: 1.5rem;
  padding: 0 2rem;
}

.card-container {
  display: flex;
  flex-direction: column;
  max-width: 380px;
  background-color: var(--clr-white-bg-card);
  gap: 2.4rem;
  padding: 2.5rem;
  border: 1px solid var(--clr-black-font-border);
  border-radius: 2rem;
  -webkit-box-shadow: 7px 7px 0px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 7px 7px 0px 0px rgba(0, 0, 0, 1);
  box-shadow: 7px 7px 0px 0px rgba(0, 0, 0, 1);
}

.hero_img{
    border-radius: 0.9rem;
    height: 236px;
    object-fit: cover;
}

.status-date {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.status {
    background-color: var(--clr-yellow-bg-highlight);
    width: fit-content;
    font-size: 1.3rem;
    padding: 0.4rem 1.5rem;
    font-weight: 800;
    border-radius: 0.3rem;
}

.date {
    font-size: 1.4rem;
    color: var(--clr-grey-font);
    font-weight: 800;
}

.title-link {
    text-decoration: none;
    color: var(--clr-black-font-border);
    font-weight: 800;
    font-size: 2.3rem;
}

.title-link:hover {
    color: var(--clr-yellow-bg-highlight);
}

.desc {
    color: var(--clr-grey-font);
}

.user {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.avatar {
    width: 4rem;
}

.name {
    font-weight: 800;
}

@media (min-width: 680px) {
    .hero_img{
        height: auto;
        margin-bottom: 1rem;
    }

    .card-container {
        gap: 1.4rem;
    }
}